

.app {
  min-height: 100vh;      
  display: flex;
  flex-direction: column;  
}

.main {
  flex: 1;                
}

.foot {
  background-color: #eba91a;
  color: #fff; 
  text-align: center; 
  /* bottom: 0; */
  padding: 1rem;

}

.row {
    margin: auto;
    display: flex;
    width: 95%;
    justify-content: space-between;
    /* align-items: flex-start;
    flex-wrap: wrap; */
}

.coloumn {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    text-align: left;
    color: black;
}
.coloumn li:hover {
  color: white;
}

.energy{
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #ffffff;
}

.faqs-item {
  display: flex;
  justify-content: center;
  font-size:  40px;
  color: rgb(0, 0, 0);
}

.links-top, .links-bot {
  display: flex;
  justify-content: center;
  gap: 30px; 
  margin: 30px 0;
}

.image {
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.2);
}

.share {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 20px;
}

.newsletter-form button {
  padding: 3px 3px;
  border: none;
  border-radius: 5px;
  background: #06bd28;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.newsletter-form button:disabled {
  opacity: .6;
  cursor: not-allowed;
}
