



nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #eba91a;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: #000000 0px 0px 10px;
}

.left-links a,
.right-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: #00030c;
}
.navLink img {
  display: inline-block;     
  width: 40px;
  height: 40px;
  object-fit: cover;
  vertical-align: middle;

}
.navLink img:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.right-links {
  white-space: nowrap;
}

/* sticky bar */
.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #e0a41e; /* your yellow */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem .75rem;
}

/* hide left-links on mobile */
.hide-on-mobile { display: none; }
@media (min-width: 768px) {
  .hide-on-mobile { display: flex; gap: .5rem; }
  .nav-hamburger { display: none !important; }
}



body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #94a1bb; */
  display: flex;
  flex-direction: column;
}

.about-us {
  color:#500d01;
}

.navLink:hover{
  color: whitesmoke;

}
.navLink.active{
  color: whitesmoke;
  font-weight: bold;
}

.logo-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    /* margin-top: 40px; */
    text-align: center;
}

.title {
    background-color: #fbb019;
    color: white;
    border: double 1px #496da7;
    padding: 10px;
    font-family: sans-serif;
    margin-top: 0px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    color: white;
    background-color: #496da7;
    border: solid 1px #fbb019;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    font-size: large;
}
.head-bg {
  background-color: rgb(10, 10, 10);
}

/* .foot {
  background-color: #eba91a;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
} */



